/* add custom scss here */
/* 
// -----------------------------------------------------------
// -----------------------------------------------------------
// INDEX
// -----------------------------------------------------------
// -----------------------------------------------------------
// 1. HOME
// -----------------------------------------------------------
// -----------------------------------------------------------
// 2. ABOUT
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// 3. SKILLS
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// 4. MY WORK
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// 5. CONTACT
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// 6. NAVIGATION
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// Text Color
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// Background Color
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// General Classes
// ----------------------------------------------------------- 
// ----------------------------------------------------------- 
// ----------------------------------------------------------- */

@font-face {
    font-family: 'raimondRegular';
    src: url('raimond_free-webfont.woff2') format('woff2'),
         url('raimond_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wedgieregular';
    src: url('wedgie_regular-webfont.woff2') format('woff2'),
         url('wedgie_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/Quicksand_Font/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/Quicksand_Font/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksanddash';
    src: url('../fonts/Quicksand_Font/quicksand_dash-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/Quicksand_Font/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/Quicksand_Font/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksandlight_italic';
    src: url('../fonts/Quicksand_Font/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand_Font/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/Quicksand_Font/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: quicksandregular;
    user-select: none;
}

.page-content {
    min-height: 100vh
}

/* GENERAL STYLES */
.cp {cursor: pointer;}
.cd {cursor: default;}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    flex-direction: column;
}

.screen-container {
    min-height: 100vh;
    background-color:rgba(255,255,255,0.14);
}

/* TEXT COLOR */
.primary-text {color: #6cf4d8;}
.secondary-text {color: #ee4851;}

/* BACKGROUND COLOR */
.primary-bg {background-color: #0b0a08;}
.secondary-bg {background-color: #6cf4d8;}
.bg-indigo {background-color: #314455;}
.bg-purple {background-color: #644e5b;}
.bg-maroon {background-color: #9e5463;}
.bg-peach {background-color: #c96567;}
.bg-light-blue {background-color: #97aabd;}



/* ---------------------------------------------------- */
/* HOME START */
/* ---------------------------------------------------- */
.home-container {
    min-height: 100vh;
    background-color:rgba(255,255,255,0.14);
}
.home-content {
    cursor: default;
    color: white;
    height: 100%;
    flex: 1;
    padding-left: 20px;
}
.letter-wrapper {
    flex: 1;
}

@keyframes rubberBand {
    0% { 
        transform: scale(1, 1); 
    }  
    35% { 
        transform: scale(1.3, 0.6); 
    }
    40% { 
        transform: scale(0.7, 1.2); 
    }
    60% { 
        transform: scale(1.2, 0.8); 
    }
    77% { 
        transform: scale(0.9, 1.1); 
    }
    90% { 
        transform: scale(1.1, 0.9); 
    } 
    95% {
        transform: scale(0.95, 1.05); 
    }
    100% { 
        transform: scale(1, 1); 
    } 
}

.text-wrapper {
    display: inline-block;
}
.rubberband-animation {
    animation: rubberBand 1s ease-in;
}

.home-content .line-1,
.home-content .line-2,
.home-content .line-3 {
    font-size: 3rem;
    display: flex;
    padding: 0 10px;
}
.home-content .line-4 {
    padding: 0 10px;
    /* font-size: 1rem; */
}
.contact-btn-wrapper {
    position: relative;
    display: flex;
    margin: 30px 10px;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid transparent;
    width: 150px;
    color: #6cf4d8;
    animation: borderAnimationReverse 0.5s ease-in-out;
    border: 2px solid #6cf4d8;
}
.contact-btn-wrapper .btn-text{
    padding: 5px 10px;
}
.contact-btn-wrapper:hover{
    animation: borderAnimation 0.5s ease-in-out;
    color: black;
    background-color: #6cf4d8;
}
@keyframes borderAnimation {
    from {
        background-color: transparent;
        color: #6cf4d8;
    }
    to {
        background-color: #6cf4d8;
        color: black;
    }
}

@keyframes borderAnimationReverse {
    from {
        background-color: #6cf4d8;
        color: black;
        /* border: 2px solid #6cf4d8; */
    }
    to {
        background-color: transparent;
        color: #6cf4d8;
        /* border: 2px solid transparent;    */
    }
}


#home svg {
    height: 100vmin;
    width: 50vmax;
    cursor: default;
}
#home svg text {
    stroke: #6cf4d8;
    font-size: 50rem;
    font-weight: bold;
    fill: transparent;
    stroke-width: 5;
    animation: line-stroke 3s ease-in-out;
    font-family: raimondRegular;
    transition: all 1s ease-in ;
}

@keyframes line-stroke {
    0% {
        stroke-dasharray: 0% 50%;
        stroke-dashoffset: 20%;
        fill: transparent;
    }
    100% {
        stroke-dasharray: 50% 0%;
        stroke-dashoffset: -20%;
        fill: transparent;
    }
}

@keyframes text-fill {
    from {
        fill: transparent;
    }
    transition{
        fill: #6cf4d8;  
    }
}

@media (max-width: 767.98px) {
    .letter-wrapper {
        display: none;
    }
}

/* ---------------------------------------------------- */
/* HOME END */
/* ---------------------------------------------------- */



/* ---------------------------------------------------- */
/* ABOUT END */
/* ---------------------------------------------------- */
.about-container {
    min-height: 100vh;
    background-color:rgba(255,255,255,0.14);    
}
.about-content {
    height: 100vh;
    flex-direction: column;
    /* align-items: flex-start; */
    color: white;
    padding: 20px;
}
.about-title {
    font-size: 3rem;
    justify-content: center;
    font-weight: bold;
    padding: 20px 0 30px;
    display: flex;
}
.description {
    max-width: 50vw;
    text-align: center;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .description {
        max-width: 100vw;        
    }

    .about-title {
      font-size: 2.5rem;
    }
}
/* ---------------------------------------------------- */
/* ABOUT END */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* SKILLS START */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* SKILLS END */
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* MY WORK START */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* MY WORK END */
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* CONTACT START *
/* ---------------------------------------------------- */
#contact {
  display: flex;
}

.contact-content {
    /* height: 100vh; */
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 20px 30px 20px 20px;
}
.contact-title {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    padding: 20px 0 30px;
    justify-content: center;
}
.contact-description {
    max-width: 50vw;
    text-align: center;
}

.social-media-links {
  /* display: flex; */
  padding-top: 30px;
  justify-content: space-around ;
}
.social-media-links img{
  height: 35px;
}
/* .social-media-links li::marker{display: none;} */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #contact {
      flex-direction: column;
    }
    .contact-title {
      font-size: 2.5rem;
    }
    .coffee-cup {
      margin: 50px auto !important;
    }
    .contact-description {
        max-width: 100vw;        
    }
}
/* ---------------------------------------------------- */
/* CONTACT END */
/* ---------------------------------------------------- */




/* ---------------------------------------------------- */
/* NAVIGATION PANEL START */
/* ---------------------------------------------------- */
.navigation-panel {
    /* background-color:; */
    color: white;
    min-height: 52px;
    overflow: hidden;
    position: relative;
    z-index: 9999;
}
.initial-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.initial-wrapper .logo {
    font-family: raimondRegular;
    color: #6cf4d8;
    padding-top: 5px;
}
.initial-wrapper .name {}
.nav-item-wrapper {
    flex-basis: 50%;
    padding: 10px;
    transition: all 0.3s;
}
.nav-item-wrapper:hover {
    flex-basis: 60%;
}
.nav-item-wrapper:hover .nav-item{
    padding: 10px;
}
.nav-item {
    transition: all 0.3s;
    width: 100px;
    display: flex;
    justify-content: center;
}
.nav-item .icon{}
.nav-item .icon img{
    height: 32px;
}
.nav-item:hover .icon{
    display: none;
}
.nav-item .title{
    display: none;
    font-size: 12px;
}
.nav-item:hover .title{
    display: inline-block;
}
.social-media-wrapper {}
.media-icon {}
.media-icon img{
    height: 32px;
}
.menu-btn {
    display: none;
}
@media (max-width: 767.98px) {
    .nav-item-wrapper {
        /* display: none; */
        opacity: 0;
        flex-basis: 10%;
        /* pointer-events: none; */
        transform: translateX(150vw);
        transition: all 0.5s;
    }
    .nav-item-wrapper.open {
        /* display: flex; */
        opacity: 1;
        flex-basis: 100%;
        margin: 0 62px;
        justify-content: space-between;
        transform: translateX(0);
    }
    .nav-item-wrapper.open .nav-item {
        width: fit-content;
    }
    .menu-btn {
        display: flex;
        position: absolute;
        right: 10px;
        flex-direction: column;
        height: 30px;
        justify-content: space-around;
    }
    .menu-btn .line-1, .menu-btn .line-2, .menu-btn .line-3 {
        width: 25px;
        height: 3px;
        background-color: #6cf4d8;
        transition: transform 0.5s, opacity 0.5s, width 0.5s;
    }
    .menu-btn.close {}
    .menu-btn.close .line-1 {
        transform-origin: top left;
        transform: rotate(45deg);
        width: 30px;
        background-color: #ee4851;
    }
    .menu-btn.close .line-2 {
        opacity: 0;
        background-color: #ee4851;
    }
    .menu-btn.close .line-3 {
        transform-origin: bottom left;
        transform: rotate(-45deg);
        width: 30px;
        background-color: #ee4851;
    }
    .menu-btn.open .line-1 {
        transform-origin: top left;
        transform: rotate(0);
    }
    .menu-btn.open .line-2 {
        opacity: 1;
    }
    .menu-btn.open .line-3 {
        transform-origin: bottom left;
        transform: rotate(0);
    }

}

/* ---------------------------------------------------- */
/* NAVIGATION PANEL END */
/* ---------------------------------------------------- */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {   

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}













/* ---------------------------------------------------- */
/* COFFEE CUP START */
/* ---------------------------------------------------- */

.coffee-cup {
    max-width: 50vw;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 50px;
    /* overflow: hidden; */
}

#plate{
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    box-shadow:
      -2vmin 2vmin 5vmin 2vmin  rgba(0, 0, 0, 0.2),
      inset 0 0 0 0.2vmin #cccccc,
      inset 0 0 0 0.5vmin #fafafa,
      inset 0 0 10vmin 0.1vmin  rgba(0, 0, 0, 0.2);
  }
  
  #handle{
    width: 10%;
    height: 30%;
    background-color: #fff;
    position: absolute;
    left: 71%;
    transform: rotate(-43deg);
    top: 65%;
    border-radius: 1vmin;
    box-shadow:
      -2vmin -1vmin 2vmin 0vmin rgba(37, 37, 37, 0.1),0vmin 0vmin 0vmin 0.1vmin rgba(102, 102, 102, 0.1), inset -1vmin 0 2vmin 0.1vmin #ffffff, inset 0 0 0.5vmin 0.5vmin #bbbbbb, inset 0 0 10vmin 0.1vmin rgba(195, 195, 195, 0.2);
  }
  
  #cup{
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
      -2vmin 2vmin 5vmin -2vmin  rgba(0, 0, 0, 0.5 ),
      inset 0 0 0.5vmin 0.2vmin #cccccc,
      inset 0 0 0 1vmin #fafafa;
    z-index: 1;
  
  }
  
  #coffeBg{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #35210d 0%,#231105 100%);
    overflow: hidden;
  }
  #cupInner{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    box-shadow:0 0 0.3vmin 0 #000, 0 0 0.5vmin 2.5vmin #dedede, inset 0 0 0.4vmin 0.1vmin rgba(0, 0, 0, 0.5);
    background-color: transparent;
    z-index: 1;
  }
  
  #foamWrapper{
    filter:url("#goo") drop-shadow(0px 0px 3px #b37a3c);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  .foam{
    background-color: #f8c99d;
    width: 10%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    left: -3%;
    transform: rotate(21deg);
    top: 22%;
    filter:url("#scatter");
    box-shadow: inset 0 0 0.1vmin 0.2vmin rgba(53, 33, 13, 0.2);
  }
  
  #foam2{
    top: -7%;
    left: 14%;
    transform: rotate(53deg);
    width: 6%;
  }
  #foam3{
    top: -21%;
    left: 43%;
    transform: rotate(75deg);
  }
  #foam4{
    top: -20%;
    left: 46%;
    transform: rotate(105deg);
  }
  #foam5{
    top: -9%;
    left: 70%;
    transform: rotate(122deg);
    height: 30%;
  }
  #foam6{
    top: 8%;
    left: 98%;
    transform: rotate(152deg);
    height: 60%;
    width: 5%;
  }
  #foam7{
    top: 20%;
    left: 97%;
    transform: rotate(181deg);
    height: 60%;
    width: 5%;
  }
  #foam8{
    top: 51%;
    left: 96%;
    transform: rotate(211deg);
    height: 40%;
    width: 5%;
  }
  #foam9{
    top: 62%;
    left: 70%;
    transform: rotate(224deg);
    height: 80%;
    width: 5%;
  }
  #foam10{
    top: 72%;
    left: 62%;
    transform: rotate(74deg);
    height: 50%;
    width: 5%;
  }
  #foam11{
    top: 59%;
    left: 51%;
    transform: rotate(104deg);
    height: 80%;
    width: 4%;
  }
  #foam12{
    top: 44%;
    left: 9%;
    transform: rotate(124deg);
    height: 80%;
    width: 4%;
  }
  #foam13{
    top: 7%;
    left: -6%;
    transform: rotate(-26deg);
    height: 80%;
    width: 4%;
  }
  
  @keyframes foamMiddleAnimation {
    0% {
      transform: translate(0%,0%);
    }
    10%{
      transform: translate(0%,0%);
    }
  
    50%{
      transform: translate(45%,20%);
    }
    90%{
      transform: translate(45%,20%);
    }
    100%{
      transform: translate(45%,20%);
    }
  }
  
  #foamMiddleWrapper{
    animation-name: foamMiddleAnimation;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    /* deactivate animations for safari because it's the new IE */
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
        animation-name: none;
        animation-duration: inherit;
        animation-timing-function: inherit;
        will-change: inherit;
    }}
  }
  
  @keyframes foamMiddleContainerAnimation {
    0% {
      transform: rotate(0);
    }
  
    55%{
      transform: rotate(30deg);
    }
    90%{
      transform: rotate(30deg);
    }
    100%{
      opacity: 0;
    }
  }
  #foamMiddleContainer{
    animation-name: foamMiddleContainerAnimation;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* deactivate animations for safari because it's the new IE */
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      animation-name: none;
      animation-duration: inherit;
      animation-timing-function: inherit;
      will-change: inherit;
    }}
  }
  .foamMiddle{
    background-color: #f8c99d;
    width: 13%;
    height: 18%;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    transform: rotate(21deg);
    top: 40%;
    filter: url(#scatter);
    box-shadow: inset 0 0 0.1vmin 0.2vmin rgba(53, 33, 13, 0.2);
  }
  
  #foamMiddle2{
    transform: rotate(-49deg);
    width: 10%;
    left: 47%;
  }
  
  @keyframes bubbleMiddle1Animation {
    0% {
      transform: scale(1) translate(0%, 0%);
    }
    35% {
      transform: scale(1) translate(60%, 40%);
    }
    45%{
      transform: scale(0) translate(60%, 40%);
    }
    100%{
      transform: scale(0) translate(60%, 40%);
    }
  }
  
  #bubbleMiddle1{
    left: 50%;
    top: 48%;
    width: 7%;
    height: 7%;
    animation-name: bubbleMiddle1Animation;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform;
    /* deactivate animations for safari because it's the new IE */
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      animation-name: none;
      animation-duration: inherit;
      animation-timing-function: inherit;
      will-change: inherit;
    }}
  }
  
  @keyframes bubbleMiddle2Animation {
    0% {
      transform: scale(1) translate(0%, 0%);
    }
    39% {
      transform: scale(1) translate(10%, 10%);
    }
    49%{
      transform: scale(0) translate(10%, 10%);
    }
    100%{
      transform: scale(0) translate(10%, 10%);
    }
  }
  #bubbleMiddle2{
    left: 44%;
    top: 40%;
    width: 6%;
    height: 7%;
    transform: rotate(50deg);
    animation-name: bubbleMiddle2Animation;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform;
    /* deactivate animations for safari because it's the new IE */
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      animation-name: none;
      animation-duration: inherit;
      animation-timing-function: inherit;
      will-change: inherit;
    }}
  }
  
  @keyframes bubbleMiddle3Animation {
    0% {
      transform: scale(1) translate(0%, 0%);
    }
    45% {
      transform: scale(1) translate(0%, 0%);
    }
    55%{
      transform: scale(0) translate(0%, 0%);
    }
    100%{
      transform: scale(0) translate(50%, -40%);
    }
  }
  #bubbleMiddle3{
    left: 41%;
    top: 49%;
    width: 7%;
    height: 8%;
    transform: rotate(36deg);
    animation-name: bubbleMiddle3Animation;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform;
    /* deactivate animations for safari because it's the new IE */
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      animation-name: none;
      animation-duration: inherit;
      animation-timing-function: inherit;
    }}
  }
  #bubbleMiddle4{
    left: 51%;
    top: 45%;
    width: 2%;
    height: 2%;
    transform: rotate(36deg);
  }
  
  .bubble{
    width: 5%;
    height: 7%;
    border-radius: 50%;
    background-color: #35210d;
    position: absolute;
    top: 40%;
    left: 2%;
    box-shadow:
      0vmin 0vmin 0.1vmin -0vmin #35210d,
      inset 0 0 0.5vmin 0.2vmin #662e22;
    transition: 5s all ease-in-out;
  }

  .bubble:after{
    display: block;
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 23%;
    top: 12%;
    transform: rotate(-20deg);
    box-shadow: 0vmin 0vmin 0.3vmin 0vmin #ffffff;
  }
  
  #bubble2{
    left: 5%;
    top: 30%;
    transform: rotate(25deg);
  }
  
  #bubble3{
    left: 8%;
    top: 23%;
    transform: rotate(39deg);
    width: 3%;
    height: 5%;
  }
  
  #bubble4{
    left: 94%;
    top: 43%;
    transform: rotate(-10deg);
    width: 5%;
    height: 7%;
  }
  
  #bubble5{
    left: 95%;
    top: 37%;
    transform: rotate(-17deg);
    width: 3%;
    height: 4%;
  }
  
  #bubble6{
    left: 39%;
    top: 0%;
    transform: rotate(76deg);
    width: 6%;
    height: 9%;
  }
  
  #bubble7{
    left: 60%;
    top: 1%;
    transform: rotate(106deg);
    width: 4%;
    height: 7%;
  }
  
  #bubble8{
    left: 35%;
    top: 91%;
    transform: rotate(106deg);
    width: 4%;
    height: 7%;
  }
  
  #bubble9{
    left: 4%;
    top: 63%;
    transform: rotate(-23deg);
    width: 5%;
    height: 7%;
  }
  
  #bubble10{
    left: 2%;
    top: 58%;
    transform: rotate(-18deg);
    width: 3%;
    height: 4%;
  }
  
  #bubble11{
    left: 63%;
    top: 91%;
    transform: rotate(72deg);
    width: 4%;
    height: 6%;
  }
  
  #bubble12{
    left: 31%;
    top: 3%;
    transform: rotate(68deg);
    width: 4%;
    height: 6%;
  }
  
  #bubble13{
    left: 21%;
    top: 85%;
    transform: rotate(118deg);
    width: 4%;
    height: 6%;
  }
  
  #bubble14{
    left: 95%;
    top: 53%;
    transform: rotate(373deg);
    width: 4%;
    height: 6%;
  }
  
  #bubble15{
    left: 50%;
    top: 0%;
    transform: rotate(96deg);
    width: 3%;
    height: 5%;
  }
  
  .bubbleSmall{
    width: 1%;
    height: 2%;
    border-radius: 50%;
    background-color: #35210d;
    position: absolute;
    top: 48%;
    left: 1%;
    box-shadow: 0vmin 0vmin 0.1vmin 0vmin #35210d, inset 0 0 0.5vmin 0.2vmin #662e22;
  }

  .bubbleSmall:after {
    display: block;
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 23%;
    top: 12%;
    transform: rotate(-20deg);
    box-shadow: 0vmin 0vmin 0.3vmin 0vmin #ffffff;
    opacity: 0.8;
  }
  
  #bubbleSmall2{
    left: 3%;
    top: 37%;
    height: 1%;
  }
  #bubbleSmall3{
    left: 6%;
    top: 28%;
    height: 1%;
  }
  #bubbleSmall4{
    left: 96%;
    top: 35%;
    height: 1%;
  }
  #bubbleSmall5{
    left: 60%;
    top: 96%;
    height: 1%;
  }
  #bubbleSmall6{
    left: 8%;
    top: 72%;
    height: 1%;
  }
  
  #innerShadow{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);
  }
  
  #glow{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.26) 90%, rgba(255, 255, 255, 0.9) 100%);
    position: absolute;
    z-index: 10
  ;
  }
  
  @keyframes steamAnimation {
    0%{
      transform: translate(30%, -70%);
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100%{
      transform: translate(60%, -90%);
      opacity: 0;
    }
  }
  #steamWrapper{
    width: 30%;
    height: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 30%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #steam{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -156px 492px 123px -252px #fff;
    filter: url(#fog);
    min-width: 600px;
    min-height: 600px;
    animation-name: steamAnimation;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
    @media (max-width: 600px) {
      top: -80%;
      box-shadow: -156px 492px 123px -252px #fff;
    }
    @media (max-width: 480px) {
      top: -160%;
      box-shadow: -166px 492px 53px -272px #fff;
    }
  }
  

  /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
#steamWrapper {
  display: none;
}
}
/* ---------------------------------------------------- */
/* COFFEE CUP END */
/* ---------------------------------------------------- */
